/* carousel style */

.carousel-control-prevv,
.carousel-control-nextt {
    /* Changed from absolute to fixed for better control */
    bottom: 20px;
    /* Position above the footer */
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* Ensures controls are above other elements */
    cursor: pointer;
    border-radius: 50%;
    /* Makes the controls circular */
}

.carousel-control-prevv {
    left: 10%;
    /* Adjust as needed to position control horizontally */
}

.carousel-control-nextt {
    right: 10%;
    /* Adjust as needed to position control horizontally */
}

/* Hover and Focus Effects */
.carousel-control-prevv:focus,
.carousel-control-prevv:hover,
.carousel-control-nextt:focus,
.carousel-control-nextt:hover {
    color: #fff;
    background-color: #f26522;
}