.carousel-control-prevv,
.carousel-control-nextt {
    margin-left: 45%;
    bottom: 20px;
    margin-bottom: -5%;
    position: absolute;
    /* Ensuring the controls are square */
    width: 50px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    /* Removed border-radius to ensure square shape */
}

/* Position the prev control at the center bottom */
.carousel-control-prevv {
    left: 0%;
    transform: translateX(-120px);
    /* Adjust to position control to the left of the center */
}

/* Position the next control at the center bottom */
.carousel-control-nextt {
    left: 7%;
    transform: translateX(20px);
    /* Adjust to position control to the right of the center */
}

/* Hover and Focus Effects */
.carousel-control-prevv:focus,
.carousel-control-prevv:hover,
.carousel-control-nextt:focus,
.carousel-control-nextt:hover {
    color: #fff;
    background-color: #f26522;
}