

{% extends "admin/base_site.html" %}
<!-- This line is used to extend the default Django admin base template.
By extending "admin/base_site.html", you inherit all the standard styles, scripts, and layout provided by Django’s admin interface, which you can then customize in your own template.
Why We Use It: It allows you to maintain the general structure and functionality of the admin site while customizing specific parts to better suit your project's needs. -->
{% block title %}My Custom Admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin_dashboard' %}">Henna Store Admin</a></h1>
{% endblock %}

{% block nav-global %}
<ul>
<a href="{% url 'admin:index' %}">Admin Home</a>
    <!-- other navigation items -->
</ul>
{% endblock %}